VITE_API_URL=http://localhost:8787
VITE_ESCROW_ADDRESS=
VITE_SETTLEMENT_TOKEN=
VITE_CHAIN_ID=4663
VITE_CHAIN_RPC_URL=https://rpc.mainnet.chain.robinhood.com
VITE_CHAIN_EXPLORER_URL=https://robinhoodchain.blockscout.com
